In [1]:
import pandas as pd

In [2]:
DF = pd.read_csv('IMDB.csv')

In [126]:
DF.head(2)

,rank,name,year,rating,genre,certificate,run_time,budget,box_office,MovieStatus
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,25000000,28884504,Blockbuster
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,6000000,250341816,Flop

In [5]:
DF.shape

(250, 13)

In [6]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         250 non-null    int64
 1   name         250 non-null    object
 2   year         250 non-null    int64
 3   rating       250 non-null    float64
 4   genre        250 non-null    object
 5   certificate  250 non-null    object
 6   run_time     250 non-null    object
 7   tagline      250 non-null    object
 8   budget       250 non-null    object
 9   box_office   250 non-null    object
 10  casts        250 non-null    object
 11  directors    250 non-null    object
 12  writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 15.7+ KB

In [13]:
NN_year = DF[DF['year'].isnull()]

In [14]:
NN_year.shape

(0, 13)

In [15]:
NN_rating = DF[DF['rating'].isnull()]

In [16]:
NN_rating.shape

(0, 13)

In [17]:
NN_budget = DF[DF['budget'].isnull()]

In [18]:
NN_budget.shape

(0, 13)

In [35]:
#NN_Del = DF.drop(columns = ['casts', 'directors', 'writers'], inplace = True)
DF.head(2)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816

In [41]:
#NN_de = DF.drop(columns = 'tagline', inplace = True)
DF.head(2)

,rank,name,year,rating,genre,certificate,run_time,budget,box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,6000000,250341816

In [128]:
DF

,rank,name,year,rating,genre,certificate,run_time,budget,box_office,MovieStatus
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,25000000,28884504,Blockbuster
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,6000000,250341816,Flop
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,185000000,1006234167,Flop
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,13000000,47961919,Blockbuster
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,350000,955,Blockbuster
...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,25000000,216639112,Flop
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,4000000,14480,Flop
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Not Available,Not Available,Blockbuster
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,22000000,52767889,Blockbuster
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,22000000,424208848,Blockbuster

### 1. Average rating

In [43]:
Average_rating = DF['rating'].mean()

In [74]:
Average_rating

8.3072

### 2. Most common Genre of the Movies

In [64]:
Genre_counts = DF['genre'].value_counts()

In [130]:
Genre_counts.sort_values(ascending = False)

Drama                         19
Crime,Drama                   14
Animation,Adventure,Comedy    10
Biography,Drama,History        9
Crime,Drama,Mystery            9
                              ..
Comedy,Drama,Fantasy           1
Drama,Fantasy                  1
Adventure,Comedy,Crime         1
Drama,Music                    1
Comedy                         1
Name: genre, Length: 104, dtype: int64

In [72]:
Most_common_genre = Genre_counts.idxmax()

In [73]:
print(f"The most common genre is: {Most_common_genre}")

The most common genre is: Drama

### 3. Movies name released in the year

In [76]:
Year_counts = DF['year'].value_counts()

In [77]:
Year_counts

1995    8
2004    7
2009    6
1957    6
2003    6
       ..
1941    1
1958    1
2022    1
1987    1
1934    1
Name: year, Length: 86, dtype: int64

In [100]:
def movies_by_year(DF, year):
    year_df = DF[DF['year']==year]
    movies_name = year_df['name'].tolist()
    return movies_name

In [131]:
movies_by_year(DF, 1995)

['Se7en',
 'The Usual Suspects',
 'Toy Story',
 'Braveheart',
 'Heat',
 'Casino',
 'Before Sunrise',
 'La haine']

### 4. Most common certificate given by the Board

In [106]:
Counts_certificate = DF['certificate'].value_counts()

In [107]:
Counts_certificate

R                97
PG               37
PG-13            35
Not Rated        24
G                19
Passed           16
Approved         14
18+               1
Not Available     1
TV-PG             1
Unrated           1
X                 1
13+               1
TV-MA             1
GP                1
Name: certificate, dtype: int64

In [109]:
Most_common_certificate = Counts_certificate.idxmax()

In [110]:
print(f"The most common certificate is: {Most_common_certificate}")

The most common certificate is: R

### 5. Comparison of the budget and box office

In [119]:
def movie_success(row):
    if row['box_office'] >= row['budget']:
       return 'Blockbuster'
    else: 
       return 'Flop'

In [120]:
DF['MovieStatus'] = DF.apply(movie_success, axis=1)

In [124]:
print(DF)

     rank                      name  year  rating                       genre  \
0       1  The Shawshank Redemption  1994     9.3                       Drama
1       2             The Godfather  1972     9.2                 Crime,Drama
2       3           The Dark Knight  2008     9.0          Action,Crime,Drama
3       4     The Godfather Part II  1974     9.0                 Crime,Drama
4       5              12 Angry Men  1957     9.0                 Crime,Drama
..    ...                       ...   ...     ...                         ...
245   246                  The Help  2011     8.1                       Drama
246   247               Dersu Uzala  1975     8.2   Adventure,Biography,Drama
247   248                   Aladdin  1992     8.0  Animation,Adventure,Comedy
248   249                    Gandhi  1982     8.0     Biography,Drama,History
249   250        Dances with Wolves  1990     8.0     Adventure,Drama,Western

    certificate run_time         budget     box_office  MovieStatus
0             R   2h 22m       25000000       28884504  Blockbuster
1             R   2h 55m        6000000      250341816         Flop
2         PG-13   2h 32m      185000000     1006234167         Flop
3             R   3h 22m       13000000       47961919  Blockbuster
4      Approved   1h 36m         350000            955  Blockbuster
..          ...      ...            ...            ...          ...
245       PG-13   2h 26m       25000000      216639112         Flop
246           G   2h 22m        4000000          14480         Flop
247           G   1h 30m  Not Available  Not Available  Blockbuster
248          PG   3h 11m       22000000       52767889  Blockbuster
249       PG-13    3h 1m       22000000      424208848  Blockbuster

[250 rows x 10 columns]

In [125]:
DF.head(15)

,rank,name,year,rating,genre,certificate,run_time,budget,box_office,MovieStatus
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,25000000,28884504,Blockbuster
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,6000000,250341816,Flop
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,185000000,1006234167,Flop
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,13000000,47961919,Blockbuster
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,350000,955,Blockbuster
5,6,Schindler's List,1993,9.0,"Biography,Drama,History",R,3h 15m,22000000,322161245,Blockbuster
6,7,The Lord of the Rings: The Return of the King,2003,9.0,"Action,Adventure,Drama",PG-13,3h 21m,94000000,1146457748,Flop
7,8,Pulp Fiction,1994,8.9,"Crime,Drama",R,2h 34m,8000000,213928762,Flop
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,"Action,Adventure,Drama",PG-13,2h 58m,93000000,898204420,Flop
9,10,"The Good, the Bad and the Ugly",1966,8.8,"Adventure,Western",Approved,2h 58m,1200000,25253887,Blockbuster
10,11,Forrest Gump,1994,8.8,"Drama,Romance",PG-13,2h 22m,55000000,678226465,Blockbuster
11,12,Fight Club,1999,8.8,Drama,R,2h 19m,63000000,101209702,Flop
12,13,The Lord of the Rings: The Two Towers,2002,8.8,"Action,Adventure,Drama",PG-13,2h 59m,94000000,947944270,Blockbuster
13,14,Inception,2010,8.8,"Action,Adventure,Sci-Fi",PG-13,2h 28m,160000000,836848102,Blockbuster
14,15,Star Wars: Episode V - The Empire Strikes Back,1980,8.7,"Action,Adventure,Fantasy",PG,2h 4m,18000000,538375067,Blockbuster

In [135]:
DF['MovieStatus'].value_counts()['Blockbuster']

145